<html>
<head>
	<meta charset="UTF-8">
</head>
	<nav class="navbar">
		
			<div class="nav-links-left">
				<a class="nav-link" href="/">Pagrindinis</a>
				<a class="nav-link" href="/">Mano rezervacijos</a>
			</div>
			<div class="nav-links-right">
				<div sec:authorize="isAuthenticated()" class="nav-link">
					Sveiki: <span sec:authentication="name"></span>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a href="/logout" class="nav-link">Atsijungti</a>
				</div>
				<a class="nav-link" href="/register">Registruotis</a>
				<a class="nav-link" href="/login">Prisijungti</a>
			</div>

	</nav>
	<hr class="solid-divider">
</html>