<html lang="lt">
<head>
    <meta charset="utf-8">
    <title>Skelbimai</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/lt.js"></script>

    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/navbar.css">

</head>

<body>
<div th:insert="fragments/navigation.html :: nav"></div>
<main class="main-container">
    <div class="room-search-container">
        <div class="search-form-container">
        </div>
    </div>
</main>

</body>
</html>