<html>
<head>
<meta charset="UTF-8">
<title>Patvirtinti rezervaciją</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
</head>

<body>
<h1 class="reservation-heading">Ar norite patvirtinti rezervaciją?</h1>
	<div class="divider div-transparent"></div>
 <div class="reservation-confirm-container">
 	<div>
	
	<form method="POST" action="/reserve" class="reservation-confirm-form" th:object="${booking}">
		<div th:text="'Atvykimo data: ' + ${arrivalDate}"></div>
		<div th:text="'Išvykimo data: ' + ${departureDate}"></div>
		<div th:text="'Apgyvendinimo laikotarpis: ' + ${dayCount} + ' dienų'"></div>
		<div th:text="'Svečių skaičius: ' + ${guestCount}"></div>
		<input type="hidden" name="arrivalDate" th:value="${arrivalDate}">
		<input type="hidden" name="departureDate" th:value="${departureDate}">
		<input type="hidden" name="guestCount" th:value="${guestCount}">
		<label for="mealsCheckbox">
		<input type="checkbox" value="20.00" name="meals" id="mealsCheckbox">
		Maitinimas (+20€)
		</label>
		
		
		
		<label for="servicesCheckbox">
		<input type="checkbox" value="20.00" name="services" id="servicesCheckbox">
		<span class="checkmark"></span>
		Kambarių aptarnavimas (+20€)
		
		</label>
		
		<div class="reservation-price-container">
			Visa suma:
			<div class="actual-price" th:text="${roomPrice} + '€'">
			
			</div>
		</div>
		<div class="reservation-confirm-buttons">
			<button class="reservation-cancel-button" type="button" onclick='javascript:window.history.back()'>Atšaukti</button>
			<button type="submit" class="reservation-submit-button">Patvirtinti</button>
		</div>
	</form>
	</div>
 </div>
 
 <script th:src="@{/js/reservation.js}"></script>
</body>
</html>