.nav-link-th-left{
    display: flex;
    flex-direction: row;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: #FFFFFF;
}
.dropdown-content a:hover {
    background-color: #E6E6E6;
    display: block;
}
.dropdown button {
    border: none;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background: none;
    font-size:18px;
    font-family: 'Inter', sans-serif;;
}
.dropdown button:hover{
    background-color: #E6E6E6;
}
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
 .ptt {
     font-family: "Inter", sans-sarif;
     font-weight: 600;
 }


@media only screen and (max-width: 768px) {
    .dropdown-left {
        display: inline-block;
        position: relative;
    }
    .dropdown-left-content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }
    .dropdown-left:hover .dropdown-left-content {
        display: block;
    }
    .dropdown-left-content a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
        background-color: #FFFFFF;
    }
    .dropdown-left-content a:hover {
        background-color: #E6E6E6;
    }
    .dropdown-left button {
        border: none;
        color: #000000;
        padding: 5px;
        text-decoration: none;
        background: none;
        font-size:18px;
        font-family: 'Inter', sans-serif;;
    }
    .dropdown-left button:hover{
        background-color: #E6E6E6;
    }

}